&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&clk_hsi {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	mul = <15>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(60)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <16>;
	adc-prescaler = <8>;
};

&i2c1 {
	pinctrl-0 = < &i2c1_scl_pb6 &i2c1_sda_pb7 >;
	status = "okay";
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&adc1 {
    #io-channel-cels = <1>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&adc1_in0_pa0>;
	pinctrl-names = "default";
	status = "okay";

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};